{% extends 'base.html.twig' %}

{% block title %}New customer{% endblock %}
{% block TabelTitle %}Create new customer
    <a href="../insurances" class="btn btn-primary float-end">Back</a>
{% endblock %}
{% block TableBody %}
    <form action="../../EntityManager.php" method="POST">
        <input type="hidden" name="id" value="{{ customer.id }}"/>
        Name
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="First Name" name="firstName" >
            <input type="text" class="form-control" placeholder="Last Name" name="lastName" >
        </div>
        Address
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Street" name="street" >
            <input type="text" class="form-control" placeholder="Number" name="number" >
        </div>
        <div class="mb-3">
            <button type="submit" name="saveCustomer" class="btn btn-primary">Save customer</button>
        </div>
    </form>
{% endblock %}